{%extends 'base.html'%}
{%block content%}
<div class="card mx-auto my-5" style="width: 600px;">
    <div class="card-header text-center" style="font-size: 50px;">
        Бриф на розробку сайту
        <div class="mt-2" style="font-size: 14px; color: gray">Буханевич Оксана, група ІПЗ-19-1</div>
    </div>
    <div class="card-body m-3">
        <form action="addNewBrief" method="post">
            <div class="form-group pt-5">
                <label for="name">ПІБ представник компанії (замовник)</label>
                <input type="text" class="form-control" id="name" name="name" aria-describedby="emailHelp"
                       placeholder="Буханевич Оксана Андріївна" required>
            </div>
            <div class="form-group">
                <label for="companyName">Назва компанії</label>
                <input type="text" class="form-control" id="companyName" name="companyName"
                       placeholder="ТОВ 'Пиріжечок'" required>
            </div>

            <div class="text-center pt-5" style="font-size: 22px; color: midnightblue">Контактні дані:</div>
            <div class="form-group">
                <label for="phone">Номер телефону</label>
                <input type="text" pattern="((+38)?(?\d{3})?[\s.-]?(\d{7}|\d{3}[\s.-]\d{2}[\s.-]\d{2}|\d{3}-\d{4}))"
                       class="form-control" id="phone" name="phone" placeholder="+380931112233" required>
            </div>
            <div class="form-group">
                <label for="email">Пошта</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="bukhanevych@gmail.com"
                       required>
            </div>

            <div class="form-group pt-5">
                <label for="audience">Хто є основним споживачем товарів/послуг</label>
                <input type="text" class="form-control" id="audience" name="audience"
                       placeholder="bukhanevych@gmail.com">
            </div>
            <div class="form-group">
                <label for="productInfo">Інформація про продукти/послуги, які ви надаєте</label>
                <input type="text" class="form-control" id="productInfo" name="productInfo"
                       placeholder="Одяг, взуття, електроніка, косметика..." required>
            </div>

            <div class="text-center pt-5" style="font-size: 22px; color: midnightblue">Інформація щодо Вашого існуючого
                брендінгу:
            </div>
            <div class="form-group pt-3">
                <div class="form-check form-switch">
                    <input type="hidden" name="brandLogo" value="off">
                    <input class="form-check-input" type="checkbox" id="brandLogo" name="brandLogo">
                    <label class="form-check-label" for="brandLogo">Наявність логотипу</label>
                </div>
            </div>
            <div class="form-group">
                <div class="form-check form-switch">
                    <input type="hidden" name="brandColor" value="off">
                    <input class="form-check-input" type="checkbox" id="brandColor" name="brandColor">
                    <label class="form-check-label" for="brandColor">Наявність фірмових кольорів</label>
                </div>
            </div>

            <div class="form-group">
                <div class="form-check form-switch">
                    <input type="hidden" name="brandStyle" value="off">
                    <input class="form-check-input" type="checkbox" id="brandStyle" name="brandStyle">
                    <label class="form-check-label" for="brandStyle">Наявність фірмового стилю</label>
                </div>
            </div>

            <div class="mb-3">
                <div class="text-center pt-5" style="font-size: 22px; color: midnightblue">Якого типу повинен бути Ваш
                    сайт:
                </div>
                <div class="form-check pt-3">
                    <input class="form-check-input" id="webCard" type="radio" name="webType" value="webCard"
                           aria-label="...">
                    <label class="form-check-label" for="webCard">
                        Сайт-візитка
                        <div class="normal-text">(Загальна інформація про компанію та її місцезнаходження)</div>
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" id="webBusiness" type="radio" name="webType" value="webBusiness"
                           aria-label="...">
                    <label class="form-check-label" for="webBusiness">
                        Бізнес сайт
                        <div class="normal-text">(Детальна інформація про компанію. Каталог товарів і / або послуг,
                            без можливості
                            оформлення
                            замовлень на сайті.)
                        </div>
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" id="webStore" type="radio" name="webType" value="webStore"
                           aria-label="...">
                    <label class="form-check-label" for="webStore">
                        Інтернет-магазин
                        <div class="normal-text">(Продаж товарів і / або послуги із замовленням та оплатою
                            товарів)
                        </div>
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" id="webLending" type="radio" name="webType" value="webLending"
                           aria-label="...">
                    <label class="form-check-label" for="webLending">
                        Лендінг
                        <div class="normal-text"> (Цільова сторінка, сторінка вітрина яку бачить відвідувач вашого
                            сайту)
                        </div>
                    </label>
                </div>
            </div>

            <div>
                <label for="deadline" class="pt-5">Вкажіть бажаний термін виконання проекту</label>
                <input type="text" id="deadline" name="daterange" value="01/01/2022 - 01/31/2022"/>
            </div>

            <div class="pt-5">
                <label for="deadline">Розробка сайту, на який бюджет Ви розраховуєте</label>
                <input type="range" value="40000" min="5000" max="500000" name="budgetSite"
                       oninput="this.nextElementSibling.value = this.value">
                <output>10000</output>
            </div>
            <div class="pt-5">
                <label for="deadline">Просування сайту (реклама), на який бюджет Ви розраховуєте</label>
                <input type="range" value="40000" min="5000" max="500000" name="budgetPromotion"
                       oninput="this.nextElementSibling.value = this.value">
                <output>10000</output>
            </div>
            {%csrf_token%}
            <button type="submit" class="btn btn-primary mt-5">Відправити</button>
        </form>
    </div>
</div>

<style>
    .normal-text {
        font-weight: 300;
    }
</style>
{%endblock%}
